@font-heading: Montserrat;
@font-page: Open Sans;
@font-italic: Pacifico;
@color-primary: black;
@color-secondary: #8262b5;
@color-grey : #6a6b6c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    h1, h2, h3, h4, h5, h6 {
        font-family: @font-heading;
    }
}

.mt-30 {
    margin-top: 30px;
}

.ml-30 {
    margin-right: 30px
}

.mr-30 {
    margin-right: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

p {
    font-family: @font-page;
    font-size: 19px;
}

/* button */
.btn {
    border: none;
    text-decoration: none;
    min-width: 40px;
    padding: 14px 14px 12px 20px;
    margin: 16px 0;
    cursor: pointer;
    outline: none;
    display: inline-block;
    font-family: @font-heading;
    font-weight: 500;
    font-size: 12px;

    &--primary {
        background-color: white;
        color: @color-primary;

        &:hover {
            color: @color-secondary;
        }
    }

    &--secondary {
        background-color: @color-secondary;
        color: white;

        &:hover {
            background-color: grey;
            color: black;
        }
    }
}

/* header */
header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
    .logo {
        font-family: @font-heading;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        border: 2px solid black;
        letter-spacing: 18px;
        line-height: 40px;
        height: 40px;
        margin-left: 30px;
        min-width: 160px;
    }

    .top-menu {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-basis: 45%;
        margin-left: -125px;

        &__item {
            a {
                text-decoration: none;
                color: @color-primary;
                text-transform: uppercase;
                font-family: @font-heading;
                font-weight: 800;
                font-size: 12px;
                letter-spacing: 1px;

                &:hover {
                    color: @color-secondary;
                }
            }
        }
    }

    .cart {
        &__icon {
            margin-right: 30px;
        }
    }
}

section {
    max-width: 1140px;
    margin: auto;
}

.ads {
    height: 560px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px + 80px;
    img {
        display: block;
        width: auto;
        height: auto;
    }

    &__banner-left {
        flex: 3;
        position: relative;
        &__content {
            position: absolute;
            top: 215px;
            right: 90px;
            text-align: right;

            &__first-line,
            &__second-line {
                font-family: @font-heading;
                // color: @color-grey;
                opacity: .1;
                text-transform: uppercase;
            }

            &__first-line {
                font-weight: bold;
                font-size: 80px;
            }

            &__second-line {
                margin-top: -30px;
                font-size: 50px;
                font-weight: 400;
            }

            &__third-line {
                margin-top: -30px;
                margin-bottom: -8px;
                font-family: @font-italic;
                font-weight: 800;
                font-size: 30px;
            }
        }
    }

    &__banner-right {
        flex: 1;

        &__first,
        &__second {
            position: relative;
        }

        &__content {
            position: absolute;
            font-family: @font-heading;
            font-size: 16px;

            &.content--first {
                top: 80px;
                left: 60px;
            }

            &.content--second {
                top: 100px;
                left: 40px;
            }

            &__first-line {
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 600;
                opacity: .4;
            }

            &__second-line {
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }
}

.title-section {
    padding-top: 80px;
    text-transform: uppercase;
    margin-bottom: 50px;
    &::after {
        content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
        font-size: 22px;
        border-bottom: 1px solid @color-secondary;
    }
    &__subname, &__name {
        font-family: @font-heading;
    }
    &__subname {
        font-size: 12px;
        letter-spacing: 6px;
        font-weight: bold;
        color: @color-secondary;
    }

    &__name {
        font-size: 27px;
        letter-spacing: 4px;
        font-weight: 800;
    }
}
.products {
    display: flex;
    flex-basis: 25%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
    &__item {
        margin-bottom: 50px;
        position: relative;
        &__img {
            max-width: 260px;
            max-height: 320px;
            display: block;
        }
        &__add-cart {
            position: absolute;
            left: 6px;
            top: 258px;
        }
        &__name {
            display: inline-block;
            margin-top: 20px;
            font-family: @font-heading;
            font-weight: 600;
            text-decoration: none;
            color: @color-primary;
        }
        &__rating-star {
            font-size: 12px;
            line-height: 32px;
            &--rated {
                color: #f8bf2b;
            }
            &--unrate {
                color: #dedede;
            }
        }
        &__price {
            font-size: 16px;
            &--sale {
                font-family: "Myriad Pro";
                opacity: .5;
                text-decoration: line-through;
            }
            &--last {
                font-weight: bold;
                color: @color-secondary;
            }
        }
    }
}
.blog {
    &-background {
        background: url(/assets/img/news/blog-background.jpg) top / cover no-repeat;
        min-height: 705px;
    }
    &-body {
        display: flex;
        max-width: 1140px;
        flex-basis: calc(100%/3);
        justify-content:  space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        &__item {
            &__img {
                max-width: 360px;
                max-height: 200px;
                position: relative;
                &__date {
                    position: absolute;
                    background-color: #a1d1dd;
                    top: 22px;
                    left: 20px;
                    font-family: @font-heading;
                    color: white;
                    padding: 6px 5px 4px;
                    &-body {
                        max-width: 50px;
                        max-height: 50px;
                        padding: 1px 12px;
                        border: 1px solid white;
                    }
                    &-month {
                        font-size: 14px;
                    }
                    &-day {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
            &__content {
                &__title {

                }
                &__summary {

                }
            }
        }
    }
}