 @font-heading: Montserrat;
 @font-page: Open Sans;
 @font-italic: Pacifico;
 @color-primary: black;
 @color-secondary: #8262b5;
 @color-grey : #6a6b6c;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: 1920px;
    h1,h2,h3,h4,h5,h6 {
       font-family: @font-heading; 
    }
}

.mt-30 {
    margin-top: 30px;
}
.ml-30 {
    margin-right: 30px
}
.mr-30 {
    margin-right: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.pull-right {
    float: right;
}
h1 {
    font-size: 27px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

p{
    font-family: @font-page;
    font-size: 19px;
}
/* button */
.btn {
    border: none;
    text-decoration: none;  
    min-width: 40px;
    padding: 14px 14px 12px 20px; 
    margin: 16px 0; 
    cursor: pointer;
    outline: none;
    display: inline-block;
    font-family: @font-heading;
    font-weight: 500;
    font-size: 12px;
    &--primary {
        background-color: white;
        color: @color-primary;
        &:hover {
            color: @color-secondary;
        }
    }

    &--secondary {
        background-color: @color-secondary;
        color: white;
        &:hover {
            background-color: grey;
            color: black;
        }
    }
}
/* header */
header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    .logo {
        font-family: @font-heading;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        border: 2px solid black;
        letter-spacing: 18px;
        line-height: 40px;
        height: 40px;
        margin-left: 30px;
        min-width: 160px;
    }
    
    .top-menu {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        flex-basis: 45%;
        margin-left: -125px;
        &__item {
            a {
                text-decoration: none;
                color: @color-primary;
                text-transform: uppercase;
                font-family: @font-heading;
                font-weight: 800;
                font-size: 12px;
                letter-spacing: 1px;
                &:hover {
                    color: @color-secondary;
                }
            }
        }
    }

    .cart {
        &__icon {
            margin-right: 30px;
        }
    }
}

section {
    max-width: 1140px;
    margin: auto;
    .ads {
        height: 560px;
        display: flex;
        justify-content: space-evenly;
        img {
            display: block;
            width: auto;
            height: auto;
        }
        &__banner-left {
            flex: 3;
            position: relative;
            &__content {
                position: absolute;
                top: 215px;
                right: 90px;
                text-align: right;
                &__first-line, &__second-line  {
                    font-family: @font-heading;
                    // color: @color-grey;
                    opacity: .1;
                    text-transform: uppercase;
                }
                &__first-line {
                    font-weight: bold;
                    font-size: 80px;
                }
                &__second-line {
                    margin-top: -30px;
                    font-size: 50px;
                    font-weight: 400px;
                }
                &__third-line {
                    margin-top: -30px;
                    font-family: @font-italic;
                    font-weight: 800;
                    font-size: 30px;}
            }
        }
        &__banner-right {
            flex: 1;
            &__first, &__second {
                position: relative;
            }
            &__content {
                position: absolute;
                font-family: @font-heading;
                font-size: 16px;
                &.content--first {
                    top: 80px;
                    left: 60px;
                }
                &.content--second {
                    top: 100px;
                    left: 40px;
                }
                &__first-line {
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                &__second-line {
                    font-weight: 800;
                    text-transform: uppercase;
                }
            } 
        }
    }
}
